@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@await Html.PartialAsync("_listaEntidades")


@await Html.PartialAsync("_editEntidade")



<script type="text/javascript">
function del(){
    $.ajax({
           url: "/entidades/Delete",
           type: "POST",
           data: $('#editForm').serialize(),
           async: false,
           success: function(result)
           {
                $('#EntidadeModal').modal('hide');
                    setTimeout(function(){
                        $('body').html(result);
                    }, 150);
            }      
         });
}

function edit(){
    $.ajax({
           url: "/entidades/edit",
           type: "POST",
           data: $('#editForm').serialize(), // serializes the form's elements.
           async: true,
           success: function(result)
           {
               console.log(result);
                $('#EntidadeModal').modal('hide');
                    setTimeout(function(){
                        $('div[name=_partialEntidade]').replaceWith(result);
                    }, 150);
            }      
         });
}

function modal(id){
$.ajax({
    url: "/entidades/getEntidade/" + id,
    type: "GET",
    data: JSON,
    async: true,
    success: function( result ) {
        $('input[name=Id]').val(result.id);
        $('input[name=Nome]').val(result.nome);
        $('input[name=Rua]').val(result.rua);
        $('input[name=Numero]').val(result.numero);
        $('input[name=Complemento]').val(result.complemento);
        $('input[name=Bairro]').val(result.bairro);
        $('input[name=Cidade]').val(result.cidade);
        $('input[name=Uf]').val(result.uf);
        $('input[name=Cep]').val(result.cep);
        $('input[name=Fone1]').val(result.fone1);
        $('input[name=Fone2]').val(result.fone2);
        $('input[name=Email]').val(result.email);
        $('input[name=Homepage]').val(result.homepage);
        $('input[name=Contato]').val(result.contato);
        $('input[name=ContatoFone]').val(result.contatoFone);
        $('input[name=CnpjCpf]').val(result.cnpjCpf);
        $('input[name=InscRg]').val(result.inscRg);
        $('#EntidadeModal').modal('toggle');
  },
    error: function() { 
        alert("Connection failed, please try again."); 
    }
});
}
</script>