<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@await Html.PartialAsync("_listaEntidades")

<div class="modal fade" id="EntidadeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">


</div>



<script type="text/javascript">

function modal(id){
$.ajax({
    url: "/entidades/getEntidade",
    type: "POST",
    data: {id : id},
    async: true,
    success: function( result ) {
        $('div[id=EntidadeModal]').replaceWith(result);
        $('#EntidadeModal').modal('toggle');
  },
    error: function() { 
        alert("Connection failed, please try again."); 
    }
});
}

$( document ).ready(function() {
  $(this).attr('title', "Entidades - MasterFIX");
});
</script>

</div>